DB_USER=myuser
DB_PASSWORD=123456
DB_HOST=db
DB_PORT=3306
DB_NAME=BookBorrow
 
SECRET_KEY=<any-random-string-32-chars-or-more>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
 
### Email configuration for Brevo (formerly Sendinblue)
BREVO_API_KEY=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
BREVO_KEY_TYPE=api-key
BREVO_SENDER_EMAIL=no-reply@bookborrow.org
BREVO_SENDER_NAME=BookBorrow
 
# Payment account configuration for Stripe
STRIPE_SECRET_KEY=sk_test_51TGIA7JDNpD2aUriuCwaYEXo2ent7vUhzoOsQt1QdD2indITQkqaWC2pFVCnPtCYtbYoP9o5nlxVMtMTbRf8Xeod00jcGAavCZ
NEXT_PUBLIC_STRIPE_PK=pk_test_51TGIA7JDNpD2aUri3hYRp8VuZZgFMK6p1pEcEm76Q8xGX9WtrMiNArkBbewt4AdF4JVMVu3oGeYG3VK1PWe6DxeC009cbVKbxt
 
AUSPOST_CALCULATE_API_KEY=ulPA2GgldKA1qP8yzo5AJRUxoBrlIRxZ
APP_BASE_URL=http://localhost
 
### For payment checkout testing
NEXT_PUBLIC_STRIPE_TEST_DESTINATION_ACCOUNT_ID=acct_1TGXxXQvCdOoVRC6
 
 
# Must include http://localhost to avoid CORS errors
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost,http://127.0.0.1