fastapi==0.135.2
uvicorn[standard]==0.42.0
python-jose[cryptography]==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.22
sqlalchemy==2.0.48
python-dotenv==1.2.2
pydantic==2.12.5
email-validator==2.3.0
PyMySQL==1.1.2
brevo-python==4.0.9
httpx==0.28.1
stripe==15.0.0
websockets==16.0
fastapi-mail==1.6.2
pillow==12.1.1
APScheduler==3.11.2
tzlocal==5.3.1
