fastapi==0.128.8
uvicorn[standard]==0.39.0
python-jose[cryptography]==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
sqlalchemy==2.0.48
python-dotenv==1.2.1
pydantic>=2.12.5
email-validator==2.3.0
PyMySQL==1.1.2
brevo-python>=1.0.0,<4.0.0  # Pinned below v4.0.0 as it renamed the module 
httpx>=0.28.1
stripe>=15.0.0
websockets==15.0.1
fastapi_mail==1.5.2
pillow==11.3.0
APScheduler==3.10.4
tzlocal>=5.3.1